# ChatData

## Sqlite
We are using a file system called **sqlite**. It looks and acts like a real single user relational database (RDB). sqlite3 comes packaged with python. You do not need to install the library. You simply import it (as below).

- We are using Pandas to write and read to sqlite. Pandas will manage a lot of the complexity of dealing with a RDB. There are other ways of reading and writing to a RDB that are VERY common and often used in production systems.  

- The most common other way is to read or write to the RDB row by row. As you can see Pandas puts the entire dataframe into the RDB or extracts a new dataframe from the RDB. These are not row by row operations. These are set operations. Set operations ARE more efficient. However, it is common to use row by row operations to avoid needing large memory computers to hold the dataframes. One row only takes a few bytes. An entire dataframe could be many gigabytes and even petabytes of data. Obviously you will end up with problems with your compute resource if your files are this big. This will not happen to you in this activity and may never happen to you while you are a data analyst. Please just be aware of this. 

- This activity is primarily about querying a RDB, so, we are using a simple way that Pandas provides. If you want to learn the more complex way, just google 'reading and wrting to a relational database using python'. There are many resources to learn from.

- The data types that sqlite supports are quite limited. for example, it does not have a DATE type.  This is not a challenge for this project. However, more sophisticated database systems,such as Postgresql, have a large array of data types, such as "DATE", etc. that give those systems additional capability. 

- All of the SQL queries could also be performed on the Pandas DataFrames directly.  You may want to try this yourself for comparison (but make sure you do the SQL queries first, as this is an exercise in using SQL!).


## SQL Magic
Within the Jupyter notebook we will be using something called **SQL Magic**.  This provides a convenient way to write SQL queries directly into code cells in the notebook and to read the results back into a Pandas DataFrame.  This makes working with SQL much easier!

Note that you may need to update your sqlite version using `conda update -c anaconda sqlite` in order for the SQL Magic to work correctly.

## The Data Analysis Lifecycle
The sections in this notebook follow the stages of the Data Analysis Lifecycle introduced in an earlier activity.  The stages are:

- Acquire
- Transform
- Organise
- Analyse
- Communicate
- Maintain

The requirements document for this project is Template SQL queries.xlsx.

# Preliminary Steps: Create a Database
First let's import Sqlite and the other libraries we will need.

In [137]:
# Import Libraries
import numpy as np
import pandas as pd
import sqlite3

In [138]:
pip install ipython-sql

Requirement already satisfied: ipython-sql in ./anaconda3/lib/python3.11/site-packages (0.5.0)
Requirement already satisfied: prettytable in ./anaconda3/lib/python3.11/site-packages (from ipython-sql) (3.9.0)
Requirement already satisfied: ipython in ./anaconda3/lib/python3.11/site-packages (from ipython-sql) (8.12.0)
Requirement already satisfied: sqlalchemy>=2.0 in ./anaconda3/lib/python3.11/site-packages (from ipython-sql) (2.0.21)
Requirement already satisfied: sqlparse in ./anaconda3/lib/python3.11/site-packages (from ipython-sql) (0.4.4)
Requirement already satisfied: six in ./anaconda3/lib/python3.11/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in ./anaconda3/lib/python3.11/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.2.0 in ./anaconda3/lib/python3.11/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.7.1)
Requirement already satisfied: greenlet!=0.4.17 in ./anaconda3/lib/python3.11/site-packages (from sqlalchemy>=2.0->ipython-sql) (2.0.1)
Requirement already satisfied: backcall in ./anaconda3/lib/python3.11/site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: decorator in ./anaconda3/lib/python3.11/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in ./anaconda3/lib/python3.11/site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: matplotlib-inline in ./anaconda3/lib/python3.11/site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: pickleshare in ./anaconda3/lib/python3.11/site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in ./anaconda3/lib/python3.11/site-packages (from ipython->ipython-sql) (3.0.36)
Requirement already satisfied: pygments>=2.4.0 in ./anaconda3/lib/python3.11/site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in ./anaconda3/lib/python3.11/site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5 in ./anaconda3/lib/python3.11/site-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: pexpect>4.3 in ./anaconda3/lib/python3.11/site-packages (from ipython->ipython-sql) (4.8.0)
Requirement already satisfied: appnope in ./anaconda3/lib/python3.11/site-packages (from ipython->ipython-sql) (0.1.2)
Requirement already satisfied: wcwidth in ./anaconda3/lib/python3.11/site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in ./anaconda3/lib/python3.11/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in ./anaconda3/lib/python3.11/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing in ./anaconda3/lib/python3.11/site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in ./anaconda3/lib/python3.11/site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in ./anaconda3/lib/python3.11/site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Note: you may need to restart the kernel to use updated packages.

### Create the Database
Now we will create the Sqlite database.  Here is some code that does this for you.  We use the `%load_ext` magic command to load the SQL Magic extension and then use `%sql` to connect to the database.

In [139]:
# If the db does not exist, sqlite will create it.
con = sqlite3.connect('chatdata.db')

# loads sql magic
%load_ext sql

# connects sql magic command to the correct db
%sql sqlite:///chatdata.db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

#### Drop the `queries` table if it already exists
The queries table will be our record of the queries created to answer the questions from the requirements spreadsheet.  As we will be running this Jupyter notebook a few times, let's drop (i.e. remove) the queries table so that we start fresh each time.  Here is the code to do this.  We use the `%%sql` magic command to tell Jupyter that we are going to write SQL in the cell.

In [140]:
%%sql
DROP TABLE IF EXISTS 'queries'

 * sqlite:///chatdata.db
   sqlite:///your_database_url
Done.

[]

# Task 1: Load the Data
Now we can start loading the data.  The tables will be created as we load the data.  

Note that some of these files are quite large, so make sure you have plenty of free memory!

## Lifecycle Stages: Transform and Organise
The data has already been processed into 3 clean data files ready for this project:

- queries.csv
- posts.csv
- comments.csv

We will load these files into our database.

## Lifecycle Stage: Acquire
The data can be found in the OpenClassrooms instructions for this activity.

### Load Comments Data into a `comments` table
Now we will load the data from the csv files into our sqlite database.

First we load the csv file into a Pandas dataframe:

In [141]:
comments = pd.read_csv('comments.csv')
comments.head()

,Id,PostId,Score,Text,CreationDate,UserId
0,723182,385124,0,@BenBolker I don't understand. The fit cannot ...,2019-01-01 00:06:39,78575
1,723183,385124,3,"You can't add *less* than (`-min(y)`), but you...",2019-01-01 00:09:22,2126
2,723186,385137,0,nice. If you felt like doing the work it would...,2019-01-01 00:32:11,2126
3,723187,385137,0,"i.e. `emdbook::curve3d(-sum(dnbinom(y,mu=mu,si...",2019-01-01 00:40:36,2126
4,723188,385134,0,"Don't you mean ""so variance should be $\sigma^...",2019-01-01 00:41:28,112141

Now take the comments dataframe and push the data into the Sqlite database table called 'comments':

In [142]:
# load comments into sqlite
comments.to_sql('comments', con, if_exists='replace', index=False)

# read back in to prove that it worked
sql = 'SELECT * FROM comments'
comments = pd.read_sql(sql, con)
comments.head()

,Id,PostId,Score,Text,CreationDate,UserId
0,723182,385124,0,@BenBolker I don't understand. The fit cannot ...,2019-01-01 00:06:39,78575
1,723183,385124,3,"You can't add *less* than (`-min(y)`), but you...",2019-01-01 00:09:22,2126
2,723186,385137,0,nice. If you felt like doing the work it would...,2019-01-01 00:32:11,2126
3,723187,385137,0,"i.e. `emdbook::curve3d(-sum(dnbinom(y,mu=mu,si...",2019-01-01 00:40:36,2126
4,723188,385134,0,"Don't you mean ""so variance should be $\sigma^...",2019-01-01 00:41:28,112141

### Load Other CSVs
Now that you have seen the code for loading in the comments.csv now do the same to read and write the posts.csv and users.csv to sqlite. 

<div style="background-color:lemonchiffon; border:1px solid; padding:5px; margin:5px; font-weight:bold"><font color="crimson">
TODO: Enter code in the following cells. Insert as many cells as you want to do this.
    </font></div>

In [143]:
# TODO
posts = pd.read_csv('posts.csv')
posts.head()

,Id,PostTypeId,AcceptedAnswerId,ParentId,CreationDate,Score,ViewCount,Body,OwnerUserId,OwnerDisplayName,...,LastEditorDisplayName,LastEditDate,LastActivityDate,Title,Tags,AnswerCount,CommentCount,FavoriteCount,ClosedDate,CommunityOwnedDate
0,423497,1,423511,0,2019-08-24 09:39:31,2,68,"<p>From wikipedia <a href=""https://en.wikipedi...",64552,NaN,...,NaN,NaN,2019-08-24 11:38:54,When are biased estimators with lower MSE pref...,<bias><unbiased-estimator><mse>,1,0,1,2019-08-25 10:25:24,NaN
1,423498,1,0,0,2019-08-24 09:47:42,1,24,<p>I am currently doing local sensitivity anal...,87231,NaN,...,NaN,2019-09-06 12:52:32,2019-09-06 12:52:32,How to interpret the result from local sensiti...,<sensitivity-analysis><elasticity>,1,0,0,NaN,NaN
2,423499,1,0,0,2019-08-24 09:48:26,1,56,<p>I'm an honours student in psychology doing ...,257207,NaN,...,NaN,NaN,2019-08-25 08:54:17,Power Analysis in G-Power - Mixed Model Anova,<anova><gpower>,2,0,0,NaN,NaN
3,423500,2,0,215865,2019-08-24 09:57:01,0,0,"<p>Maybe you can look this <a href=""https://me...",106606,NaN,...,NaN,NaN,2019-08-24 09:57:01,NaN,NaN,0,0,0,NaN,NaN
4,423502,2,0,423286,2019-08-24 10:44:52,3,0,<blockquote>\n <p>Q1) Is my approach valid?</...,220643,NaN,...,NaN,2019-08-24 12:13:46,2019-08-24 12:13:46,NaN,NaN,0,1,0,NaN,NaN

In [144]:
# TODO
# load posts into sqlite
posts.to_sql('posts', con, if_exists='replace', index=False)

# read back in to prove that it worked
sql = 'SELECT * FROM posts'
posts = pd.read_sql(sql, con)
posts.head()

,Id,PostTypeId,AcceptedAnswerId,ParentId,CreationDate,Score,ViewCount,Body,OwnerUserId,OwnerDisplayName,...,LastEditorDisplayName,LastEditDate,LastActivityDate,Title,Tags,AnswerCount,CommentCount,FavoriteCount,ClosedDate,CommunityOwnedDate
0,423497,1,423511,0,2019-08-24 09:39:31,2,68,"<p>From wikipedia <a href=""https://en.wikipedi...",64552,None,...,None,None,2019-08-24 11:38:54,When are biased estimators with lower MSE pref...,<bias><unbiased-estimator><mse>,1,0,1,2019-08-25 10:25:24,None
1,423498,1,0,0,2019-08-24 09:47:42,1,24,<p>I am currently doing local sensitivity anal...,87231,None,...,None,2019-09-06 12:52:32,2019-09-06 12:52:32,How to interpret the result from local sensiti...,<sensitivity-analysis><elasticity>,1,0,0,None,None
2,423499,1,0,0,2019-08-24 09:48:26,1,56,<p>I'm an honours student in psychology doing ...,257207,None,...,None,None,2019-08-25 08:54:17,Power Analysis in G-Power - Mixed Model Anova,<anova><gpower>,2,0,0,None,None
3,423500,2,0,215865,2019-08-24 09:57:01,0,0,"<p>Maybe you can look this <a href=""https://me...",106606,None,...,None,None,2019-08-24 09:57:01,None,None,0,0,0,None,None
4,423502,2,0,423286,2019-08-24 10:44:52,3,0,<blockquote>\n <p>Q1) Is my approach valid?</...,220643,None,...,None,2019-08-24 12:13:46,2019-08-24 12:13:46,None,None,0,1,0,None,None

In [145]:
# TODO
# TODO
users = pd.read_csv('users.csv')
users.head()

,Id,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,ProfileImageUrl,AccountId
0,157607,31,2017-04-17 14:50:42,user157607,2019-07-23 16:44:08,NaN,NaN,NaN,0,0,0,https://www.gravatar.com/avatar/2efb161849efa4...,10705183
1,157656,101,2017-04-17 20:08:20,user102859,2019-06-26 13:42:13,NaN,NaN,NaN,3,0,0,https://i.stack.imgur.com/eY4ka.jpg?s=128&g=1,10567606
2,157704,133,2017-04-18 05:10:47,jupiar,2019-11-25 13:32:27,NaN,"Shanghai, China","<p>Originally from the U.K, I have an Undergra...",1,1,0,https://www.gravatar.com/avatar/720e20205122c5...,9501631
3,157709,155,2017-04-18 06:39:18,farmer,2019-02-17 19:44:24,NaN,NaN,NaN,16,0,0,https://www.gravatar.com/avatar/0f8c4bde3d8f25...,10709837
4,157755,101,2017-04-18 12:56:17,Miki P,2019-08-12 17:02:21,NaN,NaN,NaN,1,9,0,https://www.gravatar.com/avatar/af088558cd81c5...,7969290

In [146]:
# TODO
# load users into sqlite
users.to_sql('users', con, if_exists='replace', index=False)

# read back in to prove that it worked
sql = 'SELECT * FROM users'
users = pd.read_sql(sql, con)
users.head()

,Id,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,ProfileImageUrl,AccountId
0,157607,31,2017-04-17 14:50:42,user157607,2019-07-23 16:44:08,None,None,None,0,0,0,https://www.gravatar.com/avatar/2efb161849efa4...,10705183
1,157656,101,2017-04-17 20:08:20,user102859,2019-06-26 13:42:13,None,None,None,3,0,0,https://i.stack.imgur.com/eY4ka.jpg?s=128&g=1,10567606
2,157704,133,2017-04-18 05:10:47,jupiar,2019-11-25 13:32:27,None,"Shanghai, China","<p>Originally from the U.K, I have an Undergra...",1,1,0,https://www.gravatar.com/avatar/720e20205122c5...,9501631
3,157709,155,2017-04-18 06:39:18,farmer,2019-02-17 19:44:24,None,None,None,16,0,0,https://www.gravatar.com/avatar/0f8c4bde3d8f25...,10709837
4,157755,101,2017-04-18 12:56:17,Miki P,2019-08-12 17:02:21,None,None,None,1,9,0,https://www.gravatar.com/avatar/af088558cd81c5...,7969290

### **TODO**: Drop Duplicates
Look for and drop any duplicates in all 3 of the tables (if they exist). Use Pandas to do this. If you find duplicates, you will need to rewrite the table.

<div style="background-color:lemonchiffon; border:1px solid; padding:5px; margin:5px; font-weight:bold"><font color="crimson">
TODO: Enter code in the following cells. 
    </font></div>

In [147]:
# TODO
# Check for duplicate rows based on all columns
duplicate_rows = comments[comments.duplicated()]

# If there are duplicates, drop them and rewrite the table
if not duplicate_rows.empty:
    # Drop duplicate rows and reset the index
    comments = comments.drop_duplicates().reset_index(drop=True)
    
    # Rewrite the table to the same CSV file
    comments.to_csv('comments.csv', index=False)
    print("Duplicates found and removed. Table rewritten.")
else:
    print("No duplicates found.")

# Now, 'comments' DataFrame contains the data without duplicates if they existed.

No duplicates found.

In [148]:
# TODO
# Check for duplicate rows based on all columns
duplicate_rows = posts[posts.duplicated()]

# If there are duplicates, drop them and rewrite the table
if not duplicate_rows.empty:
    # Drop duplicate rows and reset the index
    posts = posts.drop_duplicates().reset_index(drop=True)
    
    # Rewrite the table to the same CSV file
    posts.to_csv('posts.csv', index=False)
    print("Duplicates found and removed. Table rewritten.")
else:
    print("No duplicates found.")

# Now, 'posts' DataFrame contains the data without duplicates if they existed.

No duplicates found.

In [149]:
# TODO
# Check for duplicate rows based on all columns
duplicate_rows = users[users.duplicated()]

# If there are duplicates, drop them and rewrite the table
if not duplicate_rows.empty:
    # Drop duplicate rows and reset the index
    users = users.drop_duplicates().reset_index(drop=True)
    
    # Rewrite the table to the same CSV file
    users.to_csv('users.csv', index=False)
    print("Duplicates found and removed. Table rewritten.")
else:
    print("No duplicates found.")

# Now, 'users' DataFrame contains the data without duplicates if they existed.

No duplicates found.

## Review the Data

Spend some time reviewing the data.  Understand what data we have, think about how that data can be used to assist in the initiative of understanding how ChatData is used in the real world.  Is the data organised in a way that would lend itself to being manged in a relational database?  How would the different tables be connected?  What are the primary and foreign keys?  Would this give you a 3NF model?

Also think about security and ethics.  Is there personal data in here?  Could individuals be identified through this data?  It it ethical to use the data in this way?  You will be asked to comment on these questions later!

Use the code below to help you.

In [150]:
users.columns

Index(['Id', 'Reputation', 'CreationDate', 'DisplayName', 'LastAccessDate',
       'WebsiteUrl', 'Location', 'AboutMe', 'Views', 'UpVotes', 'DownVotes',
       'ProfileImageUrl', 'AccountId'],
      dtype='object')

In [151]:
users.head()

,Id,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,ProfileImageUrl,AccountId
0,157607,31,2017-04-17 14:50:42,user157607,2019-07-23 16:44:08,None,None,None,0,0,0,https://www.gravatar.com/avatar/2efb161849efa4...,10705183
1,157656,101,2017-04-17 20:08:20,user102859,2019-06-26 13:42:13,None,None,None,3,0,0,https://i.stack.imgur.com/eY4ka.jpg?s=128&g=1,10567606
2,157704,133,2017-04-18 05:10:47,jupiar,2019-11-25 13:32:27,None,"Shanghai, China","<p>Originally from the U.K, I have an Undergra...",1,1,0,https://www.gravatar.com/avatar/720e20205122c5...,9501631
3,157709,155,2017-04-18 06:39:18,farmer,2019-02-17 19:44:24,None,None,None,16,0,0,https://www.gravatar.com/avatar/0f8c4bde3d8f25...,10709837
4,157755,101,2017-04-18 12:56:17,Miki P,2019-08-12 17:02:21,None,None,None,1,9,0,https://www.gravatar.com/avatar/af088558cd81c5...,7969290

In [152]:
comments.columns

Index(['Id', 'PostId', 'Score', 'Text', 'CreationDate', 'UserId'], dtype='object')

In [153]:
comments.head()

,Id,PostId,Score,Text,CreationDate,UserId
0,723182,385124,0,@BenBolker I don't understand. The fit cannot ...,2019-01-01 00:06:39,78575
1,723183,385124,3,"You can't add *less* than (`-min(y)`), but you...",2019-01-01 00:09:22,2126
2,723186,385137,0,nice. If you felt like doing the work it would...,2019-01-01 00:32:11,2126
3,723187,385137,0,"i.e. `emdbook::curve3d(-sum(dnbinom(y,mu=mu,si...",2019-01-01 00:40:36,2126
4,723188,385134,0,"Don't you mean ""so variance should be $\sigma^...",2019-01-01 00:41:28,112141

In [154]:
posts.columns

Index(['Id', 'PostTypeId', 'AcceptedAnswerId', 'ParentId', 'CreationDate',
       'Score', 'ViewCount', 'Body', 'OwnerUserId', 'OwnerDisplayName',
       'LastEditorUserId', 'LastEditorDisplayName', 'LastEditDate',
       'LastActivityDate', 'Title', 'Tags', 'AnswerCount', 'CommentCount',
       'FavoriteCount', 'ClosedDate', 'CommunityOwnedDate'],
      dtype='object')

In [155]:
posts.head()

,Id,PostTypeId,AcceptedAnswerId,ParentId,CreationDate,Score,ViewCount,Body,OwnerUserId,OwnerDisplayName,...,LastEditorDisplayName,LastEditDate,LastActivityDate,Title,Tags,AnswerCount,CommentCount,FavoriteCount,ClosedDate,CommunityOwnedDate
0,423497,1,423511,0,2019-08-24 09:39:31,2,68,"<p>From wikipedia <a href=""https://en.wikipedi...",64552,None,...,None,None,2019-08-24 11:38:54,When are biased estimators with lower MSE pref...,<bias><unbiased-estimator><mse>,1,0,1,2019-08-25 10:25:24,None
1,423498,1,0,0,2019-08-24 09:47:42,1,24,<p>I am currently doing local sensitivity anal...,87231,None,...,None,2019-09-06 12:52:32,2019-09-06 12:52:32,How to interpret the result from local sensiti...,<sensitivity-analysis><elasticity>,1,0,0,None,None
2,423499,1,0,0,2019-08-24 09:48:26,1,56,<p>I'm an honours student in psychology doing ...,257207,None,...,None,None,2019-08-25 08:54:17,Power Analysis in G-Power - Mixed Model Anova,<anova><gpower>,2,0,0,None,None
3,423500,2,0,215865,2019-08-24 09:57:01,0,0,"<p>Maybe you can look this <a href=""https://me...",106606,None,...,None,None,2019-08-24 09:57:01,None,None,0,0,0,None,None
4,423502,2,0,423286,2019-08-24 10:44:52,3,0,<blockquote>\n <p>Q1) Is my approach valid?</...,220643,None,...,None,2019-08-24 12:13:46,2019-08-24 12:13:46,None,None,0,1,0,None,None

# Working with Sqlite and SQL Magic
In this section let's spend a little time understanding a bit more about how we can work with Sqlite within Jupyter.

Let's look at 2 ways to query the sqlite database: using SQL Magic or using Pandas.  Either way is fine for this project.

## Writing queries with SQL Magic

You will now need to write some queries to get answers to the questions in the requirements.  

For single-line queries, start the cell with `%sql` and simply enter your query:

In [156]:
# This is an example
%sql SELECT COUNT(*) FROM comments

 * sqlite:///chatdata.db
   sqlite:///your_database_url
Done.

[(50000,)]

For multi line sql statements use `%%sql` as follows. This tells Jupyter that *everything* in this cell should be interpreted as sql. So, NO comments other statements are allowed:

In [157]:
%%sql
SELECT Id, PostId, Score, Text
    FROM comments
        LIMIT 5

 * sqlite:///chatdata.db
   sqlite:///your_database_url
Done.

[(723182, 385124, 0, '@BenBolker I don\'t understand. The fit cannot be done for the negative $y$. So intuitively I\'d think that in order to retain the relativity of the  ... (24 characters truncated) ... rror" or "flip" it to the positive axis? Would it be possible to adjust every point individually? Basically e.g. take $abs(y_i)$ instead of minimums.'),
 (723183, 385124, 3, "You can't add *less* than (`-min(y)`), but you could add *more*. I'm going to stop answering now sorry, because **judging what the 'best' approach is ... (60 characters truncated) ...  of the analysis, why you need to fit an exponential, your level of computational and statistical sophistication and that of your audience, etc. ...)"),
 (723186, 385137, 0, 'nice. If you felt like doing the work it would be nice to generate an image/contour plot of log-likelihood as a function of (mu, theta) and show the lines corresponding to the two `size` values .'),
 (723187, 385137, 0, 'i.e. `emdbook::curve3d(-sum(dnbinom(y,mu=mu,size=size,log=TRUE)),\n                 xlim=c(2,5),ylim=c(0.2,0.5),\n                 varnames=c("mu","s ... (57 characters truncated) ... ,col="red")\nabline(h=fit.what$theta,col="blue")\n` ... although doesn\'t look this is actually the answer - mu-hat is independent of theta-hat ... ?'),
 (723188, 385134, 0, 'Don\'t you mean "so variance should be $\\sigma^2/(n\\mu^2)$"')]

## Writing queries with Pandas
Another way to write queries is to use pandas:

In [158]:
sql = """
SELECT Id, PostId, Score, Text
    FROM comments
        LIMIT 5
        """
result = pd.read_sql(sql, con)
result

       Id  PostId  Score                                               Text
0  723182  385124      0  @BenBolker I don't understand. The fit cannot ...
1  723183  385124      3  You can't add *less* than (`-min(y)`), but you...
2  723186  385137      0  nice. If you felt like doing the work it would...
3  723187  385137      0  i.e. `emdbook::curve3d(-sum(dnbinom(y,mu=mu,si...
4  723188  385134      0  Don't you mean "so variance should be $\sigma^...

# Creating Tables with Referential Integrity

When we loaded the csv files into Sqlite database tables, Sqlite created the tables for us behind the scenes. Let's inspect this a bit more.

We can see how Sqlite created the tables by querying the `sqlite_master` table, which Sqlite uses to keep track of what objects have been created in the database:

In [159]:
%%sql
select sql from sqlite_master

 * sqlite:///chatdata.db
   sqlite:///your_database_url
Done.

[('CREATE TABLE "comments" (\n"Id" INTEGER,\n  "PostId" INTEGER,\n  "Score" INTEGER,\n  "Text" TEXT,\n  "CreationDate" TEXT,\n  "UserId" INTEGER\n)',),
 ('CREATE TABLE "posts" (\n"Id" INTEGER,\n  "PostTypeId" INTEGER,\n  "AcceptedAnswerId" INTEGER,\n  "ParentId" INTEGER,\n  "CreationDate" TEXT,\n  "Scor ... (240 characters truncated) ...   "Tags" TEXT,\n  "AnswerCount" INTEGER,\n  "CommentCount" INTEGER,\n  "FavoriteCount" INTEGER,\n  "ClosedDate" TEXT,\n  "CommunityOwnedDate" TEXT\n)',),
 ('CREATE TABLE "users" (\n"Id" INTEGER,\n  "Reputation" INTEGER,\n  "CreationDate" TEXT,\n  "DisplayName" TEXT,\n  "LastAccessDate" TEXT,\n  "WebsiteUr ... (17 characters truncated) ... tion" TEXT,\n  "AboutMe" TEXT,\n  "Views" INTEGER,\n  "UpVotes" INTEGER,\n  "DownVotes" INTEGER,\n  "ProfileImageUrl" TEXT,\n  "AccountId" INTEGER\n)',)]

The above results show the `CREATE TABLE` statements that could be used by Sqlite to recreate the tables with the exact same structure.

The problem with the CREATE TABLE statements above is that they don't enforce **referential integrity**.  In other words, they don't ensure that every UserId and PostId in the comments table refers to an actual UserId and PostId in the users and posts tables.  At the moment. we can insert any old number here, and even have multiple users with the same Id!  One of the advantages of working with relational databases is that they can enforce the correct uniqueness and relationships in the data, but at the moment we are not using that feature.  So let's fix that...

First, let's drop the original tables:

In [160]:
%%sql
DROP TABLE comments;
DROP TABLE users;
DROP TABLE posts;

 * sqlite:///chatdata.db
   sqlite:///your_database_url
Done.
Done.
Done.

[]

Prove that this worked by selecting the names of the tables back.  We should have no tables:

In [161]:
%%sql
SELECT name FROM sqlite_master WHERE type='table'
    ORDER BY name

 * sqlite:///chatdata.db
   sqlite:///your_database_url
Done.

[]

In Sqlite we need to enable the enforcement of foreign key constraints:

In [162]:
%%sql
PRAGMA foreign_keys=ON;

 * sqlite:///chatdata.db
   sqlite:///your_database_url
Done.

[]

Now recreate the users table with a **primary key constraint** by copying the CREATE TABLE statement from above and adding the NOT NULL PRIMARY KEY clause to the Id:

In [163]:
%%sql
-- First, drop the existing 'users' table if it exists
DROP TABLE IF EXISTS "users";

-- Recreate the 'users' table with the 'Id' column as the primary key with NOT NULL constraint
CREATE TABLE "users" (
    "Id" INTEGER NOT NULL PRIMARY KEY,
    "Reputation" INTEGER,
    "CreationDate" TEXT,
    "DisplayName" TEXT,
    "LastAccessDate" TEXT,
    "WebsiteUrl" TEXT,
    "Location" TEXT,
    "AboutMe" TEXT,
    "Views" INTEGER,
    "UpVotes" INTEGER,
    "DownVotes" INTEGER,
    "ProfileImageUrl" TEXT,
    "AccountId" INTEGER
);

 * sqlite:///chatdata.db
   sqlite:///your_database_url
Done.
Done.

[]

Now do the same for the posts table:

<div style="background-color:lemonchiffon; border:1px solid; padding:5px; margin:5px; font-weight:bold"><font color="crimson">
TODO: Complete the following code cell
    </font></div>

In [164]:
%%sql
-- First, drop the existing 'posts' table if it exists
DROP TABLE IF EXISTS "posts";

-- Recreate the 'posts' table with the 'Id' column as the primary key with NOT NULL constraint
CREATE TABLE "posts" (
"Id" INTEGER,
"PostTypeId" INTEGER,
"AcceptedAnswerId" INTEGER,
"ParentId" INTEGER,
"CreationDate" TEXT,
"Score" INTEGER,
"ViewCount" INTEGER,
"Body" TEXT,
"OwnerUserId" INTEGER,
"OwnerDisplayName" TEXT,
"LastEditorUserId" INTEGER,
"LastEditorDisplayName" TEXT,
"LastEditDate" TEXT,
"LastActivityDate" TEXT,
"Title" TEXT,
"Tags" TEXT,
"AnswerCount" INTEGER,
"CommentCount" INTEGER,
"FavoriteCount" INTEGER,
"ClosedDate" TEXT,
"CommunityOwnedDate" TEXT
);

 * sqlite:///chatdata.db
   sqlite:///your_database_url
Done.
Done.

[]

Now for the comments table.  We need to add the primary key constraint on the id here as we did for users and posts, but we also need to add FOREIGN KEY constraints on the UserId and PostId. Read the documentation here and find our how to do that: https://www.sqlite.org/foreignkeys.html.  Then create the comments table with the correct constraints:

<div style="background-color:lemonchiffon; border:1px solid; padding:5px; margin:5px; font-weight:bold"><font color="crimson">
TODO: Complete the following code cell
    </font></div>

In [165]:
%%sql
CREATE TABLE IF NOT EXISTS "comments" (
    "Id" INTEGER NOT NULL PRIMARY KEY,
    "PostId" INTEGER NOT NULL,
    "Score" INTEGER,
    "Text" TEXT,
    "CreationDate" TEXT,
    "UserId" INTEGER NOT NULL,
    FOREIGN KEY ("PostId") REFERENCES "posts" ("Id"),
    FOREIGN KEY ("UserId") REFERENCES "users" ("Id")
);

 * sqlite:///chatdata.db
   sqlite:///your_database_url
Done.

[]

Now we can re-insert the data into these constrained tables.  First users:

In [166]:
# Insert data into the new users table
users.to_sql('users', con, if_exists='append', index=False)

18412

Now posts:

<div style="background-color:lemonchiffon; border:1px solid; padding:5px; margin:5px; font-weight:bold"><font color="crimson">
TODO: Complete the following code cell
    </font></div>

In [167]:
# Insert data into the new posts table
# TODO
posts.to_sql('posts', con, if_exists='append', index=False)

42234

Finally comments, which references the users and posts tables:

<div style="background-color:lemonchiffon; border:1px solid; padding:5px; margin:5px; font-weight:bold"><font color="crimson">
TODO: Complete the following code cell
    </font></div>

In [168]:
# Insert data into the new comments table
# TODO
comments.to_sql('comments', con, if_exists='append', index=False)

50000

Now check that we have the 3 new table definitions in Sqlite:

In [169]:
%%sql
SELECT name FROM sqlite_master WHERE type='table'
    ORDER BY name

 * sqlite:///chatdata.db
   sqlite:///your_database_url
Done.

[('comments',), ('posts',), ('users',)]

We now have all the data in tables in Sqlite and the tables will enforce the referential integrity.

# Example Query and Pattern for Tasks 2 and 3

As you work through the next tasks, you will need to:

1. Prepare the Sqlite query to answer the question
2. Test it
3. Insert it into the `queries` table, so we have a record of it for others.

This is the process that we want you to follow for this project while completing it.

Let's see an example of this by answering the following question:

**Which 5 users have viewed the most times and what is the sum of those views per user?**

## Prepare the Sqlite query

First, let's write the query:

In [170]:
sql = """
SELECT Id, SUM(Views) AS TotalViews
    FROM Users
        GROUP BY Id
            ORDER BY TotalViews DESC
                LIMIT 5
                """
result = pd.read_sql(sql, con) # con is the connection to the database
result

     Id  TotalViews
0   919       85180
1  4253       35119
2   805       34637
3  7290       32639
4  3277       29255

## Test the query
You can optionally prove the query worked by performing the same query in Pandas:

In [171]:
results = users.groupby(['Id']).sum().sort_values('Views', ascending = False)[:5]
results['Views']

/var/folders/s5/4r_g_0vn4vg2pqg40z0vdf_40000gn/T/ipykernel_24273/2290789632.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  results = users.groupby(['Id']).sum().sort_values('Views', ascending = False)[:5]

Id
919     85180
4253    35119
805     34637
7290    32639
3277    29255
Name: Views, dtype: int64

## Insert the query into the `queries` table
Now we need to put this query into the `queries` table in sqlite. Remember we want these queries to be accessible to everybody that should have access to them. We do not want people writing and rewriting the same queires over and over again. The easiest thing to do is create a dictionary with the values and insert these into the queries table.  Note that the values are provided as lists as we are inserting a list of values (i.e. a number of rows) into the table.  In this case the number of rows is 1, so we have lists of 1 item.

So here, we have a column called 'task' with a list of values, a column called 'action' with a list of values, etc.

In [172]:
query_dict = {
              'task': ['Single Table Queries'],
              'action': ['Which 5 users have viewed the most times and what is the sum of those views per user?'],
              'query': [sql]
             }
query_dict

{'task': ['Single Table Queries'],
 'action': ['Which 5 users have viewed the most times and what is the sum of those views per user?'],
 'query': ['\nSELECT Id, SUM(Views) AS TotalViews\n    FROM Users\n        GROUP BY Id\n            ORDER BY TotalViews DESC\n                LIMIT 5\n                ']}

Now that you have the data structure (query_dict) containing the data, create a pandas dataframe that holds those values:

In [173]:
queries = pd.DataFrame(query_dict)
queries

,task,action,query
0,Single Table Queries,Which 5 users have viewed the most times and w...,"\nSELECT Id, SUM(Views) AS TotalViews\n FRO..."

Now load that pandas dataframe (queries) into the sqlite table called queries. In this case, you use append NOT replace. You will be adding to this tables as you go thru this project.

In [174]:
# load query into sqlite
queries.to_sql('queries', con, if_exists='append', index=False)

# read back in to prove that it worked
sql = 'SELECT * FROM queries'
queries = pd.read_sql(sql, con)
queries.head()

,task,action,query
0,Single Table Queries,Which 5 users have viewed the most times and w...,"\nSELECT Id, SUM(Views) AS TotalViews\n FRO..."

It is likely that as you iterate thru this notebook you will create some duplicate entries in the query table. Not a big deal. Just tell sql or pandas (much easier in pandas) to drop the duplicates! If you drop the duplicates in Pandas you will have to write the entire dataframe back to sqlite. Otherwise it is changed in memory in Pandas but NOT in sqlite on the disk drive (or SDD). Just do this drop at the end of this notebook so that you are not constantly dealing with this.

So, to summarise, as you go through the following tasks you need to:

- answer the question in sql
- prove it in pandas (if you want to)
- put the query into the queries table

# Task 1 (continued): Insert the CREATE TABLE Statements into the `queries` Table

Now that we understand how to populate the `queries` table, let's insert the CREATE TABLE statements into it.  First let's define a function to help us insert into the queries table:

In [175]:
# Define a function that will insert into the queries table
def store_query(task, action, query):
    query_dict = {
                  'task': [task],
                  'action': [action],
                  'query': [query]
                 }

    # put query into the query_dict
    queries = pd.DataFrame(query_dict)

    # load query into sqlite
    queries.to_sql('queries', con, if_exists='append', index=False)

Now we can specify the queries and call the above function to store them.  The first one is done for you.

In [176]:
sql = """
    CREATE TABLE "comments" (
    "Id" INTEGER,
    "PostId" INTEGER,
    "Score" INTEGER,
    "Text" TEXT,
    "CreationDate" TEXT,
    "UserId" INTEGER
    )
    """
store_query("Task 1", "Create table comments", sql)

Let's prove it works by selecting back from the queries table:

In [177]:
# Prove it works
%sql SELECT * FROM queries

 * sqlite:///chatdata.db
   sqlite:///your_database_url
Done.

[('Single Table Queries', 'Which 5 users have viewed the most times and what is the sum of those views per user?', '\nSELECT Id, SUM(Views) AS TotalViews\n    FROM Users\n        GROUP BY Id\n            ORDER BY TotalViews DESC\n                LIMIT 5\n                '),
 ('Task 1', 'Create table comments', '\n    CREATE TABLE "comments" (\n    "Id" INTEGER,\n    "PostId" INTEGER,\n    "Score" INTEGER,\n    "Text" TEXT,\n    "CreationDate" TEXT,\n    "UserId" INTEGER\n    )\n    ')]

## Insert the other CREATE TABLE statements into the `queries` table.
Follow the above pattern to complete these code cells:

<div style="background-color:lemonchiffon; border:1px solid; padding:5px; margin:5px; font-weight:bold"><font color="crimson">
TODO: Complete the following code cells
    </font></div>

In [178]:
# Insert the CREATE TABLE for posts into the queries table
# TODO
sql = """
    CREATE TABLE "posts" (
"Id" INTEGER,
"PostTypeId" INTEGER,
"AcceptedAnswerId" INTEGER,
"ParentId" INTEGER,
"CreationDate" TEXT,
"Score" INTEGER,
"ViewCount" INTEGER,
"Body" TEXT,
"OwnerUserId" INTEGER,
"OwnerDisplayName" TEXT,
"LastEditorUserId" INTEGER,
"LastEditorDisplayName" TEXT,
"LastEditDate" TEXT,
"LastActivityDate" TEXT,
"Title" TEXT,
"Tags" TEXT,
"AnswerCount" INTEGER,
"CommentCount" INTEGER,
"FavoriteCount" INTEGER,
"ClosedDate" TEXT,
"CommunityOwnedDate" TEXT
)
    """
store_query("Task 1", "Create table posts", sql)

In [179]:
# Insert the CREATE TABLE for users into the queries table
# TODO
sql = """
    CREATE TABLE "users" (
"Id" INTEGER,
"Reputation" INTEGER,
"CreationDate" TEXT,
"DisplayName" TEXT,
"LastAccessDate" TEXT,
"WebsiteUrl" TEXT,
"Location" TEXT,
"AboutMe" TEXT,
"Views" INTEGER,
"UpVotes" INTEGER,
"DownVotes" INTEGER,
"ProfileImageUrl" TEXT,
"AccountId" INTEGER
)
    """
store_query("Task 1", "Create table users", sql)

## Count the Number of Rows in Each Table
Run some queries to count the number of rows in each of the tables.  Don't forget to insert the query into the queries table.

<div style="background-color:lemonchiffon; border:1px solid; padding:5px; margin:5px; font-weight:bold"><font color="crimson">
TODO: Complete the following code cells
    </font></div>

In [180]:
# Count the number of rows in the comments table
# TODO
# Query to count rows in the 'comments' table
query = "SELECT COUNT(*) FROM comments;"

try:
    # Execute the query and store the result in a variable
    result = %sql {query}

    # Fetch the count result
    row_count = result[0][0]

    # Insert the query and result into the 'queries' table
    %sql INSERT INTO queries (task, action, query) VALUES ('Count rows in comments table', 'SELECT COUNT(*)', :row_count);

    # Print the result
    print(f"Number of rows in the 'comments' table:", row_count)

except Exception as e:
    print("Error executing the query:", e)

 * sqlite:///chatdata.db
   sqlite:///your_database_url
Done.
 * sqlite:///chatdata.db
   sqlite:///your_database_url
1 rows affected.
Number of rows in the 'comments' table: 50000

In [181]:
# Count the number of rows in the users table
# TODO
# Query to count rows in the 'users' table
query = "SELECT COUNT(*) FROM users;"

try:
    # Execute the query and store the result in a variable
    result = %sql {query}

    # Fetch the count result
    row_count = result[0][0]

    # Insert the query and result into the 'queries' table
    %sql INSERT INTO queries (task, action, query) VALUES ('Count rows in users table', 'SELECT COUNT(*)', :row_count);

    # Print the result
    print(f"Number of rows in the 'users' table:", row_count)

except Exception as e:
    print("Error executing the query:", e)

 * sqlite:///chatdata.db
   sqlite:///your_database_url
Done.
 * sqlite:///chatdata.db
   sqlite:///your_database_url
1 rows affected.
Number of rows in the 'users' table: 18412

In [182]:
# Count the number of rows in the posts table
# TODO
# Query to count rows in the 'posts' table
query = "SELECT COUNT(*) FROM posts;"

try:
    # Execute the query and store the result in a variable
    result = %sql {query}

    # Fetch the count result
    row_count = result[0][0]

    # Insert the query and result into the 'queries' table
    %sql INSERT INTO queries (task, action, query) VALUES ('Count rows in posts table', 'SELECT COUNT(*)', :row_count);

    # Print the result
    print(f"Number of rows in the 'posts' table:", row_count)

except Exception as e:
    print("Error executing the query:", e)

 * sqlite:///chatdata.db
   sqlite:///your_database_url
Done.
 * sqlite:///chatdata.db
   sqlite:///your_database_url
1 rows affected.
Number of rows in the 'posts' table: 42234

## Do some Random Checks on the Data
Let's write some queries that select 5 random rows from each table.  The queries are provided here:

    select * from Comments order by random() limit 5;
    select * from Users order by random() limit 5;
    select * from Posts order by random() limit 5;

Enter the queries into the code cells below and insert the queries into the `queries` table in the same was as you did for the CREATE TABLE statements.

<div style="background-color:lemonchiffon; border:1px solid; padding:5px; margin:5px; font-weight:bold"><font color="crimson">
TODO: Complete the following code cells
    </font></div>

In [183]:
# Run the query to select 5 random rows from the posts table
# TODO
# Define the SQL query for posts
posts_query = "SELECT * FROM posts ORDER BY RANDOM() LIMIT 5;"

try:
    # Execute the query for posts
    posts_result = %sql {posts_query}

    # Insert the result into the 'queries' table
    %sql INSERT INTO queries (task, action, query) VALUES ('Select 5 random rows from posts', 'SELECT *', :posts_result)

    # Display the actual query result for posts
    display(posts_result)

except Exception as e:
    print("Error executing the posts query:", e)

 * sqlite:///chatdata.db
   sqlite:///your_database_url
Done.
 * sqlite:///chatdata.db
   sqlite:///your_database_url
(sqlite3.ProgrammingError) Error binding parameter 1: type 'ResultSet' is not supported
[SQL: INSERT INTO queries (task, action, query) VALUES ('Select 5 random rows from posts', 'SELECT *' , ?)]
[parameters: ([(435652, 1, 0, 0, '2019-11-12 03:16:34', 0, 48, '<p>I have a number of measurement samples of which some have 2 measurements and some have 3.  I wish ... (2388 characters truncated) ... ain in the future and be either successful or not again.</p>\n', 219012, None, 0, None, None, '2019-01-07 19:55:47', None, None, 0, 2, 0, None, None)],)]
(Background on this error at: https://sqlalche.me/e/20/f405)

[(435652, 1, 0, 0, '2019-11-12 03:16:34', 0, 48, '<p>I have a number of measurement samples of which some have 2 measurements and some have 3.  I wish to make the most accurate estimation of populati ... (4924 characters truncated) ... /span></p>\n\n<p>--which gets more of a tangle the more I try to expand it (and add the terms for the two distributions).</p>\n\n<p>What to do?</p>\n', 263628, None, 263628, None, '2019-11-18 16:28:04', '2019-11-18 16:28:04', 'Difficulty with averaging corrected sample variances of different degrees of freedom:', '<variance><chi-squared><mse><bessels-correction>', 0, 8, 0, None, None),
 (388125, 1, 0, 0, '2019-01-19 20:56:30', 0, 18, '<p>I\'d like to practice predictive modeling. I worked through the labs and exercises in Intro to Statistical <a href="http://www-bcf.usc.edu/~gareth ... (513 characters truncated) ... ef="https://imgur.com/a/arJ55KS" rel="nofollow noreferrer">Charles Book Club Case</a>" </p>\n\n<p>Where can I find more problems like that one?</p>\n', 192760, None, 0, None, None, '2019-01-19 20:56:30', 'Where can I find case studies for predictive modeling?', '<predictive-models>', 0, 0, 0, None, None),
 (430678, 2, 0, 429689, '2019-10-09 13:22:17', 4, 0, '<p>This is similar to the game <a href="https://en.wikipedia.org/wiki/Mastermind_(board_game)" rel="nofollow noreferrer">Mastermind</a>.</p>\n\n<p>Th ... (341 characters truncated) ... ons with <span class="math-container">$2$</span> options, which is your situation. The question is too broad to provide a detailed answer here.</p>\n', 164061, None, 0, None, None, '2019-10-09 13:22:17', None, None, 0, 0, 0, None, None),
 (412766, 1, 0, 0, '2019-06-12 21:40:33', 1, 19, '<p>Consider an experiment to measure a random occurrence with a probability <span class="math-container">$p$</span> to pass some selection criteria.  ... (4216 characters truncated) ... inty in <span class="math-container">$\\hat p$</span> should be large.</li>\n</ol>\n\n<h2>Did I go wrong somewhere, or is my intuition flawed?</h2>\n', 227052, None, 0, None, None, '2019-06-12 21:40:33', 'Total variance on binomial statistic with uncertain probability', '<binomial><likelihood><error-propagation>', 0, 0, 0, None, None),
 (386052, 2, 0, 385987, '2019-01-07 19:55:47', 2, 0, '<p>From your description, it seems that you have time-to-event data, i.e., the time until a subject passes the test. If you would fit a repeated meas ... (9 characters truncated) ... model, you would assume that even if a subject passed the test, he/she could take it again in the future and be either successful or not again.</p>\n', 219012, None, 0, None, None, '2019-01-07 19:55:47', None, None, 0, 2, 0, None, None)]

In [184]:
# Run the query to select 5 random rows from the posts comments
# TODO
# Define the SQL query for comments
comments_query = "SELECT * FROM comments ORDER BY RANDOM() LIMIT 5;"

try:
    # Execute the query for comments
    comments_result = %sql {comments_query}

    # Insert the result into the 'queries' table
    %sql INSERT INTO queries (task, action, query) VALUES ('Select 5 random rows from comments', 'SELECT *', :comments_result)

    # Display the actual query result for comments
    display(comments_result)

except Exception as e:
    print("Error executing the comments query:", e)

 * sqlite:///chatdata.db
   sqlite:///your_database_url
Done.
 * sqlite:///chatdata.db
   sqlite:///your_database_url
(sqlite3.ProgrammingError) Error binding parameter 1: type 'ResultSet' is not supported
[SQL: INSERT INTO queries (task, action, query) VALUES ('Select 5 random rows from comments', 'SELECT *' , ?)]
[parameters: ([(747981, 399311, 0, "aaaaa, Here's a better idea that won't require waiting for someone to suggest a good answer: read [some of our threads about out ... (1225 characters truncated) ... st of post about memoryless property with answers](https://stats.stackexchange.com/search?q=memoryless++answers%3A1).', '2019-04-14 09:54:06', 11887)],)]
(Background on this error at: https://sqlalche.me/e/20/f405)

[(747981, 399311, 0, "aaaaa, Here's a better idea that won't require waiting for someone to suggest a good answer: read [some of our threads about outliers.](https://stats.stackexchange.com/search?q=outlier+score%3A2)", '2019-03-25 18:08:47', 919),
 (727262, 387164, 0, 'First, thanks for this clear explanation!\n\nSo, although my post data is not normally distributed, I can still use the t-test? Does it make a differ ... (291 characters truncated) ... ust be at least 25 data points. Is there any (common) reference I can cite to justify my selection on the parametric t-test in my paper/dissertation?', '2019-01-14 21:22:29', 232628),
 (753394, 402494, 0, 'For instance, my day job is forecasting demands for supermarkets. If the forecast will be used to determine whether to run a promotion or not, what w ... (276 characters truncated) ... ty stock. In this case, a point forecast of 2 or 3 would be appropriate, which correspond to the 95% and 99% quantiles of the Pois(0.8) distribution.', '2019-04-12 09:24:21', 1352),
 (780374, 418260, 0, 'The penalization removes the asymptotic unbiased interpretation of the coefficients.  Rob Tibshirani recently (2015) published a paper which attempts to provide confidence intervals for penalized models, and so if that is what you are referring to then that is fine.', '2019-07-19 14:04:16', 111259),
 (753917, 189954, 0, '[a list of post about memoryless property with answers](https://stats.stackexchange.com/search?q=memoryless++answers%3A1).', '2019-04-14 09:54:06', 11887)]

In [185]:
# Run the query to select 5 random rows from the users table
# TODO
# Define the SQL query for users
users_query = "SELECT * FROM users ORDER BY RANDOM() LIMIT 5;"

try:
    # Execute the query for users
    users_result = %sql {users_query}

    # Insert the result into the 'queries' table
    %sql INSERT INTO queries (task, action, query) VALUES ('Select 5 random rows from users', 'SELECT *', :users_result)

    # Display the actual query result for users
    display(users_result)

except Exception as e:
    print("Error executing the users query:", e)

 * sqlite:///chatdata.db
   sqlite:///your_database_url
Done.
 * sqlite:///chatdata.db
   sqlite:///your_database_url
(sqlite3.ProgrammingError) Error binding parameter 1: type 'ResultSet' is not supported
[SQL: INSERT INTO queries (task, action, query) VALUES ('Select 5 random rows from users', 'SELECT *' , ?)]
[parameters: ([(261394, 111, '2019-10-01 16:31:53', 'ZheFrench', '2019-11-27 16:07:56', None, 'Lyon, France', '<p>A passionate programmer, here to learn, practice a ... (661 characters truncated) ... 9:42:20', None, None, None, 3, 0, 0, 'https://lh6.googleusercontent.com/-Awm2ft9bRFQ/AAAAAAAAAAI/AAAAAAAAAHg/PiA_uzKAbic/photo.jpg?sz=128', 13116662)],)]
(Background on this error at: https://sqlalche.me/e/20/f405)

[(261394, 111, '2019-10-01 16:31:53', 'ZheFrench', '2019-11-27 16:07:56', None, 'Lyon, France', '<p>A passionate programmer, here to learn, practice and help.</p>\n', 0, 0, 0, 'https://i.stack.imgur.com/0al8Z.jpg?s=128&g=1', 296993),
 (247376, 21, '2019-05-09 10:32:46', 'Dumbo', '2019-05-09 10:52:31', None, None, None, 0, 0, 0, None, 15903272),
 (245349, 69, '2019-04-19 18:19:09', 'Justin Winokur', '2019-11-21 20:37:42', None, None, None, 3, 1, 0, 'https://www.gravatar.com/avatar/148fd3824cc929dcbb58fc2d329e2e91?s=128&d=identicon&r=PG', 2403303),
 (123332, 111, '2016-07-14 16:39:29', 'SuchDoge', '2019-06-20 13:51:37', None, None, None, 4, 0, 0, 'https://www.gravatar.com/avatar/52477e4c511a8b710b1ffe177029581d?s=128&d=identicon&r=PG&f=1', 4217951),
 (202066, 1, '2018-03-29 11:21:24', 'Matt', '2019-01-21 19:42:20', None, None, None, 3, 0, 0, 'https://lh6.googleusercontent.com/-Awm2ft9bRFQ/AAAAAAAAAAI/AAAAAAAAAHg/PiA_uzKAbic/photo.jpg?sz=128', 13116662)]

# Task 2: Create Single Table Queries

## Lifecycle Stage: Analyze
We can now start the analysis with our single-table queries.  First we need to create a new computed column to help with one of the queries.  The code below creates a column called LEN_BODY which is the length of the BODY text:

In [186]:
%%sql
ALTER TABLE POSTS ADD COLUMN LEN_BODY INT

 * sqlite:///chatdata.db
   sqlite:///your_database_url
Done.

[]

In [187]:
%%sql
UPDATE POSTS SET LEN_BODY = LENGTH(BODY)

 * sqlite:///chatdata.db
   sqlite:///your_database_url
42234 rows affected.

[]

### Single Table Queries
From the Template SQL Queries there are a series of queries requested. You are responsible for coding the result. Use the pattern above to accomplish the coding objective.  Copy and paste the question (column B Action) into a markdown cell and answer the query. Use the pattern that you have been using above. 

<div style="background-color:lemonchiffon; border:1px solid; padding:5px; margin:5px; font-weight:bold"><font color="crimson">
TODO: Enter your code below.  Just keep on inserting cells as you need them.
    </font></div>

**How many posts have 0 comments?**

In [188]:
%%sql

SELECT
    SUM(CASE WHEN CommentCount = 0 THEN 1 ELSE 0 END) AS Posts_With_Zero_Comments,
    (SUM(CASE WHEN CommentCount = 0 THEN 1 ELSE 0 END) * 100.0 / COUNT(*)) AS Percent_Zero_Comments
FROM
    posts;

 * sqlite:///chatdata.db
   sqlite:///your_database_url
Done.

[(21713, 51.41118530094237)]

**How many posts have 1 comments?**

In [189]:
%%sql

SELECT
    SUM(CASE WHEN CommentCount = 1 THEN 1 ELSE 0 END) AS Posts_With_One_Comment,
    (SUM(CASE WHEN CommentCount = 1 THEN 1 ELSE 0 END) * 100.0 / COUNT(*)) AS Percent_One_Comment
FROM
    posts;

 * sqlite:///chatdata.db
   sqlite:///your_database_url
Done.

[(6460, 15.295733295449164)]

**How many posts have 2 comments or more?**

In [190]:
%%sql

SELECT
    SUM(CASE WHEN CommentCount >= 2 THEN 1 ELSE 0 END) AS Posts_With_Two_Or_More_Comments,
    (SUM(CASE WHEN CommentCount >= 2 THEN 1 ELSE 0 END) * 100.0 / COUNT(*)) AS Percent_Two_Or_More_Comments
FROM
    posts;

 * sqlite:///chatdata.db
   sqlite:///your_database_url
Done.

[(14061, 33.29308140360847)]

**Find the 5 posts with the highest viewcount**

In [191]:
%%sql

SELECT id, ViewCount
FROM posts
ORDER BY ViewCount DESC
LIMIT 5;

 * sqlite:///chatdata.db
   sqlite:///your_database_url
Done.

[(388566, 19542),
 (394118, 16317),
 (431370, 11723),
 (398646, 9850),
 (434128, 6718)]

**Find the top 5 posts with the highest scores**

In [192]:
%%sql

SELECT id, Score
FROM posts
ORDER BY Score DESC
LIMIT 5;

 * sqlite:///chatdata.db
   sqlite:///your_database_url
Done.

[(431397, 101), (394128, 100), (426878, 93), (388578, 80), (431370, 77)]

**What are the 5 most frequent scores on posts?**

In [193]:
%%sql

SELECT Score, COUNT(*) AS Score_Count
FROM posts
GROUP BY Score
ORDER BY Score_Count DESC
LIMIT 5;

 * sqlite:///chatdata.db
   sqlite:///your_database_url
Done.

[(0, 19888), (1, 11867), (2, 5094), (3, 2228), (4, 1059)]

**How many posts have the keyword "data" in their tags?**

In [194]:
%%sql

SELECT
    COUNT(*) AS Posts_With_Data_Tag,
    (COUNT(*) * 100.0) / (SELECT COUNT(*) FROM posts) AS Percentage_With_Data_Tag
FROM
    posts
WHERE
    tags LIKE '%<data%';

 * sqlite:///chatdata.db
   sqlite:///your_database_url
Done.

[(931, 2.204385092579438)]

**What are the 5 most frequent commentcount for posts?**

In [195]:
%%sql

SELECT CommentCount, COUNT(*) AS Frequency
FROM posts
GROUP BY CommentCount
ORDER BY Frequency DESC
LIMIT 5;

 * sqlite:///chatdata.db
   sqlite:///your_database_url
Done.

[(0, 21713), (1, 6460), (2, 4966), (3, 3063), (4, 2026)]

**"How many posts have an accepted answer?
"**

In [196]:
%%sql

SELECT
    SUM(CASE WHEN AcceptedAnswerId IS NOT NULL AND AcceptedAnswerId != 0 THEN 1 ELSE 0 END) AS Posts_With_Accepted_Answer,
    (SUM(CASE WHEN AcceptedAnswerId IS NOT NULL AND AcceptedAnswerId != 0 THEN 1 ELSE 0 END) * 100.0 / COUNT(AcceptedAnswerId)) AS Percentage_Accepted_Answers
FROM
    posts;

 * sqlite:///chatdata.db
   sqlite:///your_database_url
Done.

[(5341, 12.646209215324147)]

**What is the average reputation of table users?**

In [197]:
%%sql

SELECT AVG(reputation) AS Average_Reputation
FROM users;

 * sqlite:///chatdata.db
   sqlite:///your_database_url
Done.

[(312.3509124484032,)]

**What are the min and max reputation of users?**

In [198]:
%%sql

SELECT MIN(reputation) AS Min_Reputation, MAX(reputation) AS Max_Reputation
FROM users;

 * sqlite:///chatdata.db
   sqlite:///your_database_url
Done.

[(1, 228662)]

**What is the length of the body of 5 most viewed posts?**

In [199]:
%%sql

SELECT id, ViewCount, LENGTH(body) AS Body_Length
FROM posts
ORDER BY ViewCount DESC
LIMIT 5;

 * sqlite:///chatdata.db
   sqlite:///your_database_url
Done.

[(388566, 19542, 2270),
 (394118, 16317, 512),
 (431370, 11723, 811),
 (398646, 9850, 2148),
 (434128, 6718, 1172)]

**How many different locations are there in the users table?**

In [200]:
%%sql

SELECT COUNT(DISTINCT location) AS Different_Locations
FROM users;

 * sqlite:///chatdata.db
   sqlite:///your_database_url
Done.

[(1900,)]

**What are the top 5 locations of users?**

In [201]:
%%sql

SELECT location, COUNT(*) AS Location_Count
FROM users
WHERE location IS NOT NULL AND location != 'None'
GROUP BY location
ORDER BY Location_Count DESC
LIMIT 5;

 * sqlite:///chatdata.db
   sqlite:///your_database_url
Done.

[('Germany', 117),
 ('India', 100),
 ('United States', 69),
 ('Paris, France', 66),
 ('London, United Kingdom', 63)]

**Rank the days of the week from highest to lowest in terms of the volume of ViewCount as a percentage.**

In [202]:
%%sql

SELECT
    CASE CAST(strftime('%w', CreationDate) AS INTEGER)
        WHEN 0 THEN 'Sunday'
        WHEN 1 THEN 'Monday'
        WHEN 2 THEN 'Tuesday'
        WHEN 3 THEN 'Wednesday'
        WHEN 4 THEN 'Thursday'
        WHEN 5 THEN 'Friday'
        WHEN 6 THEN 'Saturday'
    END AS DayOfWeek,
    SUM(ViewCount) * 100.0 / (SELECT SUM(ViewCount) FROM posts) AS PercentageOfTotalViews
FROM
    posts
GROUP BY
    DayOfWeek
ORDER BY
    PercentageOfTotalViews DESC;

 * sqlite:///chatdata.db
   sqlite:///your_database_url
Done.

[('Thursday', 16.81947628859075),
 ('Wednesday', 16.76868913850077),
 ('Tuesday', 16.25503368644186),
 ('Monday', 15.806726735198032),
 ('Friday', 13.563061049604483),
 ('Sunday', 11.89560881413273),
 ('Saturday', 8.891404287531374)]

# Task 3: Cross Table Queries

## Lifecycle Stage: Analyze
Let's continue the analysis with our multi-table queries.

### Cross Table Queries

From the Template SQL Queries there are a series of queries requested. You are responsible for coding the result. Use the pattern above to accomplish the coding objective.  Copy and paste the question (column B Action) into a markdown cell and answer the query. Use the pattern that you have been using above. 

<div style="background-color:lemonchiffon; border:1px solid; padding:5px; margin:5px; font-weight:bold"><font color="crimson">
TODO: Enter your code below.  Just keep on inserting cells as you need them.
    </font></div>

**How many posts have been created by a user that has a filled out the "AboutMe" section?**

In [203]:
%%sql

SELECT COUNT(p.Id) AS total_post_count
FROM users u
JOIN posts p ON u.Id = p.OwnerUserId
WHERE u.AboutMe IS NOT NULL;

 * sqlite:///chatdata.db
   sqlite:///your_database_url
Done.

[(17189,)]

**Considering only the users with an "AboutMe," how many posts are there per user?**

In [204]:
%%sql

SELECT u.Id AS user_id, u.DisplayName AS username, COUNT(p.Id) AS post_count
FROM users u
LEFT JOIN posts p ON u.Id = p.OwnerUserId
WHERE u.AboutMe IS NOT NULL
GROUP BY u.Id, u.DisplayName
ORDER BY post_count DESC;

 * sqlite:///chatdata.db
   sqlite:///your_database_url
Done.

[(204068, 'gunes', 637),
 (85665, 'BruceET', 545),
 (11887, 'kjetil b halvorsen', 435),
 (173082, 'Reinstate Monica', 435),
 (686, 'Peter Flom - Reinstate Monica', 386),
 (1352, 'S. Kolassa - Reinstate Monica', 285),
 (3382, 'IrishStat', 274),
 (7224, "Xi'an", 233),
 (805, 'Glen_b -Reinstate Monica', 230),
 (35989, 'Tim', 230),
 (8013, 'AdamO', 212),
 (219012, 'Dimitris Rizopoulos', 205),
 (919, 'whuber', 203),
 (116195, 'Noah', 180),
 (121522, 'mkt - Reinstate Monica', 179),
 (7828, 'Anony-Mousse', 177),
 (26948, 'shimao', 171),
 (238499, 'David', 160),
 (111259, 'Demetri Pananos', 155),
 (22311, 'Sycorax says Reinstate Monica', 140),
 (115634, 'Isabella Ghement', 133),
 (36041, 'Aksakal', 124),
 (86652, 'Björn', 122),
 (164061, 'Sextus Empiricus', 117),
 (53690, 'Richard Hardy', 98),
 (7486, 'Robert Long', 96),
 (253250, 'Fr1', 88),
 (11852, 'usεr11852 says Reinstate Monic', 85),
 (176202, 'Frans Rodenburg', 85),
 (7962, 'StatsStudent', 84),
 (8336, 'Taylor', 84),
 (166526, 'Sal Mangiafico', 81),
 (4598, 'cbeleites supports Monica', 77),
 (101426, 'mdewey', 72),
 (4253, 'Frank Harrell', 71),
 (119261, 'StubbornAtom', 71),
 (103153, 'Lerner Zhang', 68),
 (239183, 'Ertxiem - reinstate Monica', 67),
 (158565, 'user158565', 61),
 (140300, 'Dave Harris', 60),
 (221478, 'André.B', 60),
 (2126, 'Ben Bolker', 59),
 (5176, 'Michael Hardy', 59),
 (163572, 'Jan Kukacka', 54),
 (1390, 'Reinstate Monica - G. Simpson', 51),
 (219322, 'Peter Leopold', 50),
 (16367, 'Jesper Hybel', 47),
 (108877, 'nalzok', 47),
 (22047, 'Nick Cox', 46),
 (67799, 'Christoph Hanck', 46),
 (183171, 'PsychometStats', 46),
 (241093, 'AlexK', 45),
 (7555, 'jbowman', 44),
 (9964, 'Dougal', 43),
 (76981, 'Cliff AB', 43),
 (225961, 'Edgar', 43),
 (127281, 'Lucas Farias', 39),
 (128610, 'Siong Thye Goh', 39),
 (1764, 'Wayne', 38),
 (6633, 'Dilip Sarwate', 38),
 (17072, 'Jeremy Miles', 37),
 (48250, 'olooney', 37),
 (35584, 'James Phillips', 36),
 (7071, 'Dimitriy V. Masterov', 35),
 (7290, 'gung - Reinstate Monica', 35),
 (234488, 'mindhabits', 35),
 (35452, 'Patrick', 34),
 (240935, 'dlnB', 34),
 (126931, 'knrumsey - Reinstate Monica', 33),
 (28746, 'Alecos Papadopoulos', 32),
 (99274, 'Carl', 32),
 (137921, 'baxx', 31),
 (224271, 'bi_scholar', 31),
 (239481, 'Dayne', 31),
 (892, 'F. Tusell', 28),
 (73129, 'Martin Modrák', 27),
 (161757, 'Umka', 27),
 (48591, 'Florian Hartig', 26),
 (203430, 'T X', 26),
 (239664, 'EmJ', 26),
 (91762, 'Parseltongue', 25),
 (121270, 'Jakub Bartczuk', 25),
 (211707, 'Seankala', 25),
 (252051, 'josef_joestarr', 25),
 (20221, 'deemel', 24),
 (44269, 'Alexis', 24),
 (64098, 'mlofton', 24),
 (245769, 'Mary', 24),
 (30005, 'jld', 23),
 (60261, 'Achim Zeileis', 23),
 (137066, 'Michael Grogan', 23),
 (180540, 'Celine Harumi', 23),
 (190992, 'Stats', 23),
 (21846, 'lcrmorin', 22),
 (23853, 'Maarten Buis', 22),
 (129321, 'Gordon Smyth', 22),
 (201327, 'jonnor', 22),
 (241137, 'Vincent Granville', 22),
 (249205, 'Abdoul Haki', 22),
 (40252, 'An old man in the sea.', 21),
 (100673, 'German Demidov', 21),
 (128284, 'user3658307', 21),
 (148455, 'StoryTeller0815', 21),
 (183634, 'user2522806', 21),
 (248285, 'Hiyam', 21),
 (43775, 'Neil Slater', 20),
 (110833, 'Vadim', 20),
 (119920, 'Sebastian', 20),
 (214683, 'moreblue', 20),
 (234750, 'Dovini Jayasinghe', 20),
 (244721, 'stats.and.r', 20),
 (211, 'Paul Hewson', 19),
 (2392, 'probabilityislogic', 19),
 (10812, 'kiriloff', 19),
 (12923, 'andrewH', 19),
 (37793, 'ihadanny', 19),
 (39630, 'Carlos Cinelli', 19),
 (95098, 'Bill Chen', 19),
 (117705, 'David Refaeli', 19),
 (224433, 'RScrlli', 19),
 (235199, 'Emma Jean', 19),
 (251838, 'Brennan', 19),
 (266161, 'Giulia Martini', 19),
 (30351, 'Michael M', 18),
 (74500, 'Matthew Drury', 18),
 (109372, 'user366312', 18),
 (195078, 'peteR', 18),
 (244367, 'TheCG', 18),
 (250623, 'Dave', 18),
 (262948, 'ABK', 18),
 (28740, 'Zhubarb', 17),
 (199125, 'cure', 17),
 (35398, 'Matifou', 16),
 (81974, 'Dan Chaltiel', 16),
 (102541, 'Quality', 16),
 (125481, 'Alexey says Reinstate Monica', 16),
 (137593, 'Gijs', 16),
 (232444, 'Mark Verhagen', 16),
 (255178, 'Samir Rachid Zaim', 16),
 (9162, 'user1205901 - Reinstate Monica', 15),
 (121128, 'Ahmad', 15),
 (143446, 'Scott', 15),
 (154747, 'Vasilis Vasileiou', 15),
 (237796, 'Jonathan Moore', 15),
 (247479, 'pzivich', 15),
 (250899, 'Anant Gupta', 15),
 (251233, 'PV8', 15),
 (18417, 'Karolis Koncevičius', 14),
 (64263, 'Todd D', 14),
 (102265, 'Nicklovn', 14),
 (120831, 'tddevlin', 14),
 (178898, 'Martin', 14),
 (195935, 'ReneBt', 14),
 (198058, 'ColorStatistics', 14),
 (228809, 'silly.deer', 14),
 (231723, 'Anthony Nash', 14),
 (242515, 'behold', 14),
 (246835, 'Tom', 14),
 (254291, 'davo.biainili', 14),
 (260020, 'KaPy3141', 14),
 (1329, 'Sympa', 13),
 (31313, 'JTH', 13),
 (31978, 'Greenparker', 13),
 (56211, 'rnso', 13),
 (57111, 'Student', 13),
 (60613, 'Firebug', 13),
 (67137, 'Dave', 13),
 (99818, 'Idonknow', 13),
 (105510, 'aghd', 13),
 (141599, 'Simon Boge Brant', 13),
 (147695, 'Jay Schyler Raadt', 13),
 (166270, 'Łukasz Deryło', 13),
 (225579, 'Philip', 13),
 (232706, 'Ben Reiniger', 13),
 (238980, 'Francesco Boi', 13),
 (250372, 'Ous', 13),
 (253728, 'Roman_Numerals', 13),
 (1191, 'xan', 12),
 (14306, 'Rika', 12),
 (113777, 'Haitao Du', 12),
 (132217, 'Huy Pham', 12),
 (172392, 'Ingolifs', 12),
 (174042, 'Johan Stax Jakobsen', 12),
 (203025, 'Petras Purlys', 12),
 (204319, 'Chris Umphlett', 12),
 (224449, 'Mosab Shaheen', 12),
 (230011, 'Tomasz Bartkowiak', 12),
 (235033, 'LocoGris', 12),
 (1934, 'Wolfgang', 11),
 (2669, 'rolando2', 11),
 (13634, 'RobertF', 11),
 (17908, 'jpmuc', 11),
 (24905, 'wolfies', 11),
 (37632, 'Pinocchio', 11),
 (81865, 'Benjamin Christoffersen', 11),
 (97577, 'rw2', 11),
 (103407, 'innisfree', 11),
 (117574, 'pche8701', 11),
 (148138, 'psboonstra', 11),
 (186174, 'Q.P.', 11),
 (188928, 'chrishmorris', 11),
 (199063, 'Gregg H', 11),
 (204825, 'ComplexGates', 11),
 (215872, 'snickerdoodles777', 11),
 (224112, 'E. Sommer', 11),
 (225761, 'JAbr', 11),
 (237477, 'Soroush', 11),
 (7616, 'Brash Equilibrium', 10),
 (10479, 'Yves', 10),
 (20980, 'Cagdas Ozgenc', 10),
 (29234, 'Kornel', 10),
 (36540, 'Luca', 10),
 (40747, 'CarbonFlambe Reinstate Monica', 10),
 (68576, 'Nikolay Shmyrev', 10),
 (68965, 'ahorn', 10),
 (74737, 'Nizar', 10),
 (75173, 'vtshen', 10),
 (83065, 'Digio', 10),
 (87305, 'Erik Ruzek', 10),
 (111380, 'Jeffrey Girard', 10),
 (112912, 'Dave2e', 10),
 (120788, 'jeza', 10),
 (122311, 'MSIS', 10),
 (140365, 'rnorouzian', 10),
 (168306, 'naive', 10),
 (174245, 'Tom Pape', 10),
 (178613, 'Anonymous Emu', 10),
 (198896, 'meTchaikovsky', 10),
 (208343, 'Maryam', 10),
 (208771, 'Nan', 10),
 (212510, 'Code Pope', 10),
 (222364, 'Craig K. Van Pay', 10),
 (247972, 'Prasad Dalvi', 10),
 (250598, 'PythonBeginner', 10),
 (255026, 'pikachu', 10),
 (260167, 'Ben', 10),
 (159, 'Rob Hyndman', 9),
 (5503, 'Darren Cook', 9),
 (9394, 'Zen', 9),
 (11867, 'Cam.Davidson.Pilon', 9),
 (16709, 'rapaio', 9),
 (30822, 'Erdogan CEVHER', 9),
 (48101, 'Michael D', 9),
 (60909, 'Emil', 9),
 (92522, 'qualiaMachine', 9),
 (95569, 'dontloo', 9),
 (103653, 'Ted', 9),
 (111389, 'Mark Peterson', 9),
 (115107, 'Wagner Jorge', 9),
 (158856, 'dbwilson', 9),
 (161081, 'asmgx', 9),
 (191037, 'Dasherman', 9),
 (215907, 'william3031', 9),
 (222609, 'The man of your dream', 9),
 (225266, 'Nip', 9),
 (226087, 'Flora Grappelli', 9),
 (227027, 'Alfred', 9),
 (229979, 'Tbertin', 9),
 (230331, 'Mark.F', 9),
 (234573, 'Geppetto97', 9),
 (236174, 'Alejandro Celis', 9),
 (237974, 'Amr Tarek Elmzayen', 9),
 (239222, 'Klaas W', 9),
 (239844, 'Itamar Mushkin', 9),
 (240699, 'GAGA', 9),
 (242319, 'Jj Blevins', 9),
 (249611, 'Jindřich', 9),
 (795, 'shabbychef', 8),
 (3919, 'zbicyclist', 8),
 (7250, 'Matt Krause', 8),
 (10416, 'Gabriel', 8),
 (14076, 'Kodiologist', 8),
 (28666, 'amoeba says Reinstate Monica', 8),
 (32477, 'Stefan', 8),
 (46478, 'MiloMinderbinder', 8),
 (54740, 'Daniel', 8),
 (61496, 'Yair Daon', 8),
 (72126, 'Dhamnekar Winod', 8),
 (79100, 'Dr Nisha Arora', 8),
 (88790, 'MAPK', 8),
 (105368, 'Kitter Catter', 8),
 (112733, 'Dmitriy', 8),
 (114345, 'Luis', 8),
 (128939, 'Corel', 8),
 (137591, 'sci9', 8),
 (137926, 'wrong_path', 8),
 (142914, 'Alex', 8),
 (142976, 'Mr Pi', 8),
 (142978, 'jarauh', 8),
 (143094, 'Amonet', 8),
 (157252, 'anu', 8),
 (166514, 'pglpm', 8),
 (171586, 'jkd', 8),
 (197211, 'New phone who this', 8),
 (200664, 'Aleksejs Fomins', 8),
 (202788, 'Mr. Wayne', 8),
 (203560, 'Ankish Bansal', 8),
 (205688, 'onurcanbektas', 8),
 (207118, 'Jarek Duda', 8),
 (216588, 'Jordan Wrong', 8),
 (222231, 'inkalchemist1994', 8),
 (233347, 'isemaj', 8),
 (235620, 'J. Dekker', 8),
 (237401, 'Dan Scally', 8),
 (240049, 'Philip Raeisghasem', 8),
 (240706, 'Chris Moore', 8),
 (246589, 'Bill Clark', 8),
 (250108, 'Matthew', 8),
 (252474, 'Thomas Wukitsch', 8),
 (7835, 'Nicolas Rosewick', 7),
 (10619, 'Subhash C. Davar', 7),
 (23801, 'TrynnaDoStat', 7),
 (25186, 'ryu576', 7),
 (28978, 'Martin Drozdik', 7),
 (39601, 'Yilun Zhang', 7),
 (40242, 'Julian Schuessler', 7),
 (43450, 'flawr', 7),
 (48610, 'Marina', 7),
 (54083, 'indigochild', 7),
 (68268, 'Simon', 7),
 (68301, 'Noppawee Apichonpongpan', 7),
 (78857, 'Alex', 7),
 (92423, 'IggyPass', 7),
 (93788, 'Robert Alan Greevy Jr PhD', 7),
 (101144, 'PM.', 7),
 (106978, 'chausies', 7),
 (117159, 'Tom Chen', 7),
 (123097, 'dylanjm', 7),
 (128677, 'Ferdi', 7),
 (136746, 'The Laconic', 7),
 (141956, 'G5W', 7),
 (152809, 'Matthew Anderson', 7),
 (160713, 'Ismael EL ATIFI', 7),
 (162482, 'EliK', 7),
 (166327, 'malocho', 7),
 (167138, 'baruuum', 7),
 (171066, 'Blade', 7),
 (172098, 'bandwagoner', 7),
 (172666, 'sariii', 7),
 (175484, 'Guillem', 7),
 (175687, 'Laksan Nathan', 7),
 (179103, 'stucash', 7),
 (188353, 'SantoshGupta7', 7),
 (191003, 'idnavid', 7),
 (211526, 'Tom Kisters', 7),
 (213714, 'MindtheData', 7),
 (215131, 'George', 7),
 (217385, 'Joshua Ronis', 7),
 (221019, 'Iago Carvalho', 7),
 (232363, 'adjective_noun', 7),
 (233405, 'ranit.b', 7),
 (237422, 'colonus', 7),
 (241170, 'Hossein Rahimi', 7),
 (246062, 'akhetos', 7),
 (247930, 'XanderJC', 7),
 (249482, 'yonderkens', 7),
 (249490, 'RandomForestRanger', 7),
 (266071, 'Piotr Rarus - Reinstate Monica', 7),
 (2040, 'B_Miner', 6),
 (6040, 'Justin Solomon', 6),
 (12147, 'Ric', 6),
 (12603, 'Blain Waan', 6),
 (17230, 'Scortchi - Reinstate Monica', 6),
 (18539, 'Robin Ryder', 6),
 (20519, 'Zhanxiong', 6),
 (22452, 'EngrStudent - Reinstate Monica', 6),
 (24073, 'soakley', 6),
 (27433, 'Waldir Leoncio', 6),
 (29949, 'Seanny123', 6),
 (36682, 'Calimo', 6),
 (37796, 'Mathmath', 6),
 (39829, 'MathMan', 6),
 (40313, 'Yatharth Agarwal', 6),
 (53456, 'jsakaluk', 6),
 (54091, 'SQLServerSteve', 6),
 (61018, 'Glassjawed', 6),
 (61998, 'joha', 6),
 (64136, 'j__', 6),
 (64552, 'javadba', 6),
 (70879, 'mnm', 6),
 (77446, 'PhDing', 6),
 (85767, '89_Simple', 6),
 (89471, 'lllllllllllll', 6),
 (97925, 'Matthew Gunn', 6),
 (103003, 'gazza89', 6),
 (132195, 'grldsndrs', 6),
 (132971, 'Yuval Spiegler', 6),
 (133742, 'Christian', 6),
 (135291, 'Bryan Krause', 6),
 (143028, "steveo'america", 6),
 (145472, 'OliverFishCode', 6),
 (148774, 'kedarps', 6),
 (149550, 'klumbard', 6),
 (160761, 'Guilherme Marthe', 6),
 (162986, 'Heteroskedastic Jim', 6),
 (163290, 'PS Nayak', 6),
 (172296, 'Alex Blasberg', 6),
 (174198, 'Yu Chen', 6),
 (177127, 'MichiganWater', 6),
 (182328, 'vvv', 6),
 (186771, 'Akababa', 6),
 (191643, 'Tarjei W. Havneraas', 6),
 (192370, 'MrT77', 6),
 (195256, 'John H', 6),
 (195908, 'unicoder', 6),
 (203185, 'JP Trawinski', 6),
 (208995, 'Oalvinegro', 6),
 (215402, 'Gianni', 6),
 (220196, 'Anon', 6),
 (220590, 'Kshitij Yadav', 6),
 (220592, 'robert', 6),
 (222356, 'Alone Programmer', 6),
 (222869, 'mjs', 6),
 (225256, 'Matt F.', 6),
 (228546, 'Most Wanted', 6),
 (229462, 'rzch', 6),
 (231761, 'UrbanoFonseca', 6),
 (234410, 'Rami Azmi', 6),
 (234732, 'David Veitch', 6),
 (239999, 'zqin', 6),
 (250298, 'damerdji', 6),
 (250820, 'Pannie', 6),
 (251875, 'Grada Gukovic', 6),
 (252638, 'igorkf', 6),
 (255272, 'Michael Levy', 6),
 (260905, 'Vicki B', 6),
 (261381, 'Hui-Po Wang', 6),
 (262913, 'StupidWolf', 6),
 (265150, 'Tlaloc-ES', 6),
 (183, 'Jeromy Anglim', 5),
 (858, 'Neil G', 5),
 (3277, 'ttnphns', 5),
 (5829, 'Jake Westfall', 5),
 (7194, 'LiKao', 5),
 (11004, 'antonio irpino', 5),
 (13047, 'Penguin_Knight', 5),
 (13429, 'krishnab', 5),
 (14233, 'Chernoff', 5),
 (15973, 'Eka', 5),
 (16939, 'Anthony Damico', 5),
 (17760, 'MachineEpsilon', 5),
 (18192, None, 5),
 (19960, 'Mars', 5),
 (22531, 'JRK', 5),
 (27782, 'Orion', 5),
 (29694, 'Louis Cialdella', 5),
 (35131, 'Ben Ogorek', 5),
 (42004, 'Haohan Wang', 5),
 (48448, 'Chris Snow', 5),
 (52367, 'StatGrrl', 5),
 (53098, 'RDizzl3', 5),
 (58450, 'Carlos - the Mongoose - Danger', 5),
 (59093, 'Addem', 5),
 (62060, 'Rylan Schaeffer', 5),
 (62245, 'Ismael Ghalimi', 5),
 (63677, 'Forgottenscience', 5),
 (66383, 'Aalawlx', 5),
 (78398, 'Deleet', 5),
 (78575, 'mavavilj', 5),
 (82338, 'Jon', 5),
 (82898, 'juod', 5),
 (89012, 'SOULed_Outt', 5),
 (92811, 'Will Marble', 5),
 (94052, 'CBowman', 5),
 (96825, 'Albert Chen', 5),
 (121490, 'el Josso', 5),
 (122472, 'timwiz', 5),
 (127913, 'Barker', 5),
 (133284, 'JP Zhang', 5),
 (135866, 'Avatrin', 5),
 (136845, 'Amin Sammara', 5),
 (151100, 'Alexey Petrushin', 5),
 (154925, 'rinspy', 5),
 (156742, 'Mohsen Kiskani', 5),
 (161484, 'estraven', 5),
 (163114, 'jay.sf', 5),
 (183508, 'DuttaA', 5),
 (186092, 'Rrz0', 5),
 (187064, 'Pavel Ruzankin', 5),
 (193742, 'πr8', 5),
 (197829, 'Rob', 5),
 (203928, 'Trivio', 5),
 (205363, 'Rishi Sharma', 5),
 (206350, 'DataFramed', 5),
 (209206, 'Benyamin Jafari', 5),
 (211232, 'Zaccharie Ramzi', 5),
 (211755, 'Circus pygargus', 5),
 (213344, 'Rex', 5),
 (215400, 'Bayequentist', 5),
 (215620, 'Dieshe', 5),
 (219503, 'camillejr', 5),
 (222938, 'boski', 5),
 (226084, 'Santiago I. Hurtado', 5),
 (228206, 'Will C', 5),
 (228453, 'prosti', 5),
 (232775, 'Skyward', 5),
 (235578, 'Mahamad A. Kanouté', 5),
 (236314, 'Landon Gibson', 5),
 (237349, 'gyrips', 5),
 (237463, 'etudiant', 5),
 (237732, 'Coder88', 5),
 (238595, 'recon', 5),
 (239395, 'Victor Oliveira', 5),
 (239410, 'B.Liu', 5),
 (239585, 'maaniB', 5),
 (240307, 'y chung', 5),
 (242731, 'John Silver', 5),
 (248590, 'Kunal', 5),
 (251040, 'Nos', 5),
 (251447, 'Olivia Watkins', 5),
 (251610, 'ssssoooo', 5),
 (252202, 'takahashi', 5),
 (255300, 'Nokius', 5),
 (256955, 'Ken Grimes', 5),
 (257774, 'olinarr', 5),
 (265148, 'Hansel Palencia', 5),
 (25, 'Harvey Motulsky', 4),
 (887, 'Dikran Marsupial', 4),
 (5739, 'StasK', 4),
 (10849, 'gui11aume', 4),
 (11849, 'Roland', 4),
 (17295, 'flies', 4),
 (17459, 'Jonas Lindeløv', 4),
 (24028, 'RegressForward', 4),
 (27148, 'Anthony', 4),
 (27881, 'SamPassmore', 4),
 (28185, 'Mihael', 4),
 (36423, 'Wrzlprmft', 4),
 (39770, 'aginensky', 4),
 (41167, 'MInner', 4),
 (43159, 'littleO', 4),
 (43625, 'einar', 4),
 (44129, 'Sheljohn', 4),
 (44760, 'pedrofigueira', 4),
 (62350, 'David Makovoz', 4),
 (62549, 'Artem Sobolev', 4),
 (66428, 'Kris', 4),
 (69673, 'Matt Wenham', 4),
 (72352, 'corey979', 4),
 (73794, 'RUser4512', 4),
 (77852, 'Robert', 4),
 (81432, 'Tom', 4),
 (85906, 'Maurits M', 4),
 (89799, 'Ron Jensen', 4),
 (96216, 'Daniel López', 4),
 (97470, 'Artiga', 4),
 (100439, 'BenP', 4),
 (100507, 'caveman', 4),
 (101974, 'DrosoNeuro', 4),
 (102879, 'Peter Westfall', 4),
 (105868, 'Dmitry D. Onishchenko', 4),
 (110423, 'alfalfa', 4),
 (114940, 'CuteCat', 4),
 (132564, 'arash javan', 4),
 (132651, 'GoingMyWay', 4),
 (132808, 'Sebastiano1991', 4),
 (133336, 'No_Body', 4),
 (136102, 'Stoner', 4),
 (138135, 's_t', 4),
 (138414, 'Leo Ohyama', 4),
 (140662, 'qwr', 4),
 (142317, 'Christos Karatsalos', 4),
 (148952, 'VansFannel', 4),
 (153107, 'Frank Swanton', 4),
 (159701, 'Dhruv Mahajan', 4),
 (159954, 'Inkling', 4),
 (160339, 'Cardinal', 4),
 (166615, 'Kadaj13', 4),
 (171914, 'Soumee', 4),
 (173042, 'user3180480', 4),
 (174653, 'Nikola', 4),
 (175557, 'your_boy_gorja', 4),
 (178121, 'TYL', 4),
 (183333, 'Quastiat', 4),
 (188124, 'captcoma', 4),
 (188854, 'JeremyC', 4),
 (189692, 'Homunculus', 4),
 (191355, 'GreenLogic', 4),
 (192270, 'laza', 4),
 (195845, 'Dylan Russell', 4),
 (208404, 'linofex', 4),
 (209249, 'Sören', 4),
 (209853, 'mathew gunther', 4),
 (210143, 'DINA TAKLIT', 4),
 (211432, 'Jonas Schwarz', 4),
 (213367, 'kbr85', 4),
 (215135, 'Arindam Bose', 4),
 (217025, 'B_Real', 4),
 (217210, 'Wei Zhong', 4),
 (218111, 'Oliver G', 4),
 (218196, 'kevinkayaks', 4),
 (218369, 'cripcate', 4),
 (223338, 'Ambareesh', 4),
 (228249, 'Vikas Jangra', 4),
 (232278, 'alienflow', 4),
 (233698, 'Jenny Reininger', 4),
 (233832, 'Data Sharkie', 4),
 (234116, 'aph416', 4),
 (234749, 'Tacratis', 4),
 (235436, 'Stanislas Morbieu', 4),
 (236421, 'Rafael Díaz', 4),
 (236443, 'quantumbiker', 4),
 (236934, 'Emm', 4),
 (237022, 'Piyush Joshi', 4),
 (237706, 'shabuki', 4),
 (238439, 'JLG', 4),
 (238563, 'Luca Angioloni', 4),
 (240620, 'Shinigami', 4),
 (241135, 'Mathijs', 4),
 (241606, 'Ritesh Sinha', 4),
 (241755, 'S0AndS0', 4),
 (241999, 'KaliTheGreat', 4),
 (242512, 'J. Stott', 4),
 (244470, 'jtorca', 4),
 (244873, 'pedernv', 4),
 (245006, 'EhsanK', 4),
 (246432, 'Tomas Bencomo', 4),
 (246929, 'Lada Dudnikova', 4),
 (248258, 'M Waz', 4),
 (248735, 'LFischer', 4),
 (248799, 'Mobassir Hossen', 4),
 (250056, 'Zafar', 4),
 (250325, 'Anant Agarwal', 4),
 (250674, 'Justin Scofield', 4),
 (251692, 'SRG', 4),
 (252495, 'Delta', 4),
 (255408, 'Teererai Marange', 4),
 (255489, 'Sabbir Ahmed', 4),
 (256798, 'José Gabriel Astaiza-Gómez', 4),
 (260856, 'Umair Yousaf', 4),
 (262748, 'Melania CB', 4),
 (263317, 'Cece', 4),
 (264581, 'user8804', 4),
 (264944, 'Adi Inbar', 4),
 (253, 'Tal Galili', 3),
 (1212, 'Joel', 3),
 (2129, 'DWin', 3),
 (2546, 'leonbloy', 3),
 (3058, 'Manoel Galdino', 3),
 (3601, 'Aaron - Reinstate Monica', 3),
 (5191, 'mzuba', 3),
 (5619, 'oaxacamatt', 3),
 (6965, 'Benjamin Crouzier', 3),
 (9167, 'Björn Lindqvist', 3),
 (12833, 'Tim', 3),
 (13409, 'adunaic', 3),
 (14346, 'peuhp', 3),
 (14730, 'Miroslav Sabo', 3),
 (16175, 'PascalVKooten', 3),
 (16974, 'James Stanley', 3),
 (17023, 'A. Donda', 3),
 (21817, 'blue-sky', 3),
 (22403, 'Tony Ladson', 3),
 (24030, 'William Chiu', 3),
 (24612, 'Vivek Subramanian', 3),
 (29770, 'ved', 3),
 (30202, 'wwwslinger', 3),
 (30451, 'colin', 3),
 (32037, 'Vincent', 3),
 (34638, 'rkjt50r983', 3),
 (34826, 'Aaron Hall', 3),
 (35483, 'user3050269', 3),
 (36206, 'KirkD_CO', 3),
 (38063, 'Pranit Kothari', 3),
 (39662, 'tkmckenzie', 3),
 (39710, 'mlstudent', 3),
 (49024, 'Marcus Ritt', 3),
 (49303, 'Roasty247', 3),
 (54426, 'Chris Wilson', 3),
 (60065, 'jon_simon', 3),
 (60323, 'Franco Piccolo', 3),
 (61389, 'JackLametta', 3),
 (66341, 'broncoAbierto', 3),
 (68006, 'Brandon', 3),
 (68057, 'Gumeo', 3),
 (71012, 'orrymr', 3),
 (73619, 'Angela', 3),
 (74054, 'Ivan', 3),
 (76937, 'Isbister', 3),
 (77478, 'Sandu Ursu', 3),
 (78004, 'orrillo', 3),
 (78964, 'Mark L. Stone', 3),
 (80624, 'theforestecologist', 3),
 (80904, 'gented', 3),
 (81019, 'zthomas.nc', 3),
 (82404, 'Dileep Kumar Patchigolla', 3),
 (82750, 'marc1s', 3),
 (90621, 'Gabriel Romon', 3),
 (92493, 'O.rka', 3),
 (94747, 'Saurabh Verma', 3),
 (95965, 'Astro Boy', 3),
 (99565, 'Anton', 3),
 (99791, 'Shiv_90', 3),
 (100369, 'luchonacho', 3),
 (101801, 'Lalochezia', 3),
 (103197, 'Adurthi Ashwin Swarup', 3),
 (107126, 'Vishal', 3),
 (110298, 'Mark Miller', 3),
 (112094, 'mp85', 3),
 (112987, 'Diansheng', 3),
 (113959, 'cherub', 3),
 (117573, 'Michael L.', 3),
 (118959, 'Kolmogorovwannabe', 3),
 (124547, 'Nikolas Rieble', 3),
 (124694, 'Samos', 3),
 (126589, 'Marchhare', 3),
 (126741, 'questionmark', 3),
 (130195, 'KOLANICH', 3),
 (131402, 'jhin', 3),
 (132899, 'Rakib', 3),
 (133720, 'mapto', 3),
 (134859, 'Joe', 3),
 (135567, 'del', 3),
 (136282, 'alan ocallaghan', 3),
 (137088, 'Hans-Peter Stricker', 3),
 (137299, 'famargar', 3),
 (138067, 'MoneyBall', 3),
 (139232, 'Kots', 3),
 (139325, 'Vincent', 3),
 (139869, 'CCZ23', 3),

**"Not taking into account the commentcount field in the table posts, what are the Top 10 posts in terms of number of comments?
"**

In [205]:
%%sql

SELECT p.Id AS post_id, p.Title, u.DisplayName AS username, COUNT(c.Id) AS comment_count
FROM posts p
LEFT JOIN comments c ON p.Id = c.PostId
JOIN users u ON p.OwnerUserId = u.Id
GROUP BY p.Id, p.Title, u.DisplayName
ORDER BY comment_count DESC
LIMIT 10;

 * sqlite:///chatdata.db
   sqlite:///your_database_url
Done.

[(386853, None, 'Isabella Ghement', 66),
 (386556, 'Strategies for predicting 100 binary choices given the previous 100', 'Kodiologist', 34),
 (395232, None, 'Neil G', 31),
 (418910, None, 'Ruben van Bergen', 31),
 (402987, 'Evaluating Unbalanced Multiclass Classifiers: Which Tests to Use?', 'lo tolmencre', 27),
 (386075, 'Avoiding social discrimination in model building', 'lcrmorin', 26),
 (394118, 'Why do neural networks need so many training examples to perform?', 'Marcin', 24),
 (398828, None, 'Nat', 23),
 (402950, 'Poisson Regression in R with individual fixed-effects and month/year fixed-effects', 'EconLiv', 23),
 (396111, 'How do I intepret these t-SNE results?', 'Jack Rolph', 22)]

**"What are the Top 10 posts which have the highest cummulative (post score + comment score) score? 
"**

In [206]:
%%sql

SELECT p.Id AS post_id, p.Title, SUM(p.Score + COALESCE(c.comment_score, 0)) AS cumulative_score
FROM posts p
LEFT JOIN (
    SELECT PostId, SUM(Score) AS comment_score
    FROM comments
    GROUP BY PostId
) c ON p.Id = c.PostId
GROUP BY p.Id, p.Title
ORDER BY cumulative_score DESC
LIMIT 10;

 * sqlite:///chatdata.db
   sqlite:///your_database_url
Done.

[(394118, 'Why do neural networks need so many training examples to perform?', 306),
 (394128, None, 169),
 (388578, None, 141),
 (398653, None, 111),
 (388566, 'Is it wrong to rephrase "1 in 80 deaths is caused by a car accident" as "1 in 80 people die as a result of a car accident?"', 101),
 (431397, None, 101),
 (398646, 'What does "Scientists rise up against statistical significance" mean? (Comment in Nature)', 99),
 (421677, None, 96),
 (426878, None, 93),
 (420526, None, 92)]

**"Who are the top 10 users who comment the most? 
"**

In [207]:
%%sql

SELECT u.Id AS user_id, u.DisplayName AS username, COUNT(c.Id) AS comment_count
FROM users u
LEFT JOIN comments c ON u.Id = c.UserId
GROUP BY u.Id, u.DisplayName
ORDER BY comment_count DESC
LIMIT 10;

 * sqlite:///chatdata.db
   sqlite:///your_database_url
Done.

[(919, 'whuber', 3301),
 (805, 'Glen_b -Reinstate Monica', 1153),
 (143489, 'user2974951', 1024),
 (11887, 'kjetil b halvorsen', 805),
 (85665, 'BruceET', 691),
 (164061, 'Sextus Empiricus', 540),
 (22047, 'Nick Cox', 536),
 (158565, 'user158565', 504),
 (7962, 'StatsStudent', 492),
 (35989, 'Tim', 470)]

**"Who are the top 10 users who post the most? 
"**

In [208]:
%%sql

SELECT u.Id AS user_id, u.DisplayName AS username, COUNT(p.Id) AS post_count
FROM users u
LEFT JOIN posts p ON u.Id = p.OwnerUserId
GROUP BY u.Id, u.DisplayName
ORDER BY post_count DESC
LIMIT 10;

 * sqlite:///chatdata.db
   sqlite:///your_database_url
Done.

[(204068, 'gunes', 637),
 (85665, 'BruceET', 545),
 (11887, 'kjetil b halvorsen', 435),
 (173082, 'Reinstate Monica', 435),
 (686, 'Peter Flom - Reinstate Monica', 386),
 (1352, 'S. Kolassa - Reinstate Monica', 285),
 (3382, 'IrishStat', 274),
 (7224, "Xi'an", 233),
 (805, 'Glen_b -Reinstate Monica', 230),
 (35989, 'Tim', 230)]

# Task 4: Check the Queries Table

Now let's tidy up and check the queries table.

First let's check it's contents:

In [226]:
%sql SELECT * FROM queries

 * sqlite:///chatdata.db
   sqlite:///your_database_url
Done.

[('SINGLE TABLE QUERIES', 'WHICH 5 USERS HAVE VIEWED THE MOST TIMES AND WHAT IS THE SUM OF THOSE VIEWS PER USER?', '\nSELECT ID, SUM(VIEWS) AS TOTALVIEWS\n    FROM USERS\n        GROUP BY ID\n            ORDER BY TOTALVIEWS DESC\n                LIMIT 5\n                '),
 ('TASK 1', 'CREATE TABLE COMMENTS', '\n    CREATE TABLE "COMMENTS" (\n    "ID" INTEGER,\n    "POSTID" INTEGER,\n    "SCORE" INTEGER,\n    "TEXT" TEXT,\n    "CREATIONDATE" TEXT,\n    "USERID" INTEGER\n    )\n    '),
 ('TASK 1', 'CREATE TABLE POSTS', '\n    CREATE TABLE "POSTS" (\n"ID" INTEGER,\n"POSTTYPEID" INTEGER,\n"ACCEPTEDANSWERID" INTEGER,\n"PARENTID" INTEGER,\n"CREATIONDATE" TEXT,\n"SCORE" I ... (212 characters truncated) ... EXT,\n"TAGS" TEXT,\n"ANSWERCOUNT" INTEGER,\n"COMMENTCOUNT" INTEGER,\n"FAVORITECOUNT" INTEGER,\n"CLOSEDDATE" TEXT,\n"COMMUNITYOWNEDDATE" TEXT\n)\n    '),
 ('TASK 1', 'CREATE TABLE USERS', '\n    CREATE TABLE "USERS" (\n"ID" INTEGER,\n"REPUTATION" INTEGER,\n"CREATIONDATE" TEXT,\n"DISPLAYNAME" TEXT,\n"LASTACCESSDATE" TEXT,\n"WEBSITEURL" T ... (5 characters truncated) ... n"LOCATION" TEXT,\n"ABOUTME" TEXT,\n"VIEWS" INTEGER,\n"UPVOTES" INTEGER,\n"DOWNVOTES" INTEGER,\n"PROFILEIMAGEURL" TEXT,\n"ACCOUNTID" INTEGER\n)\n    '),
 ('COUNT ROWS IN COMMENTS TABLE', 'SELECT COUNT(*)', '50000'),
 ('COUNT ROWS IN USERS TABLE', 'SELECT COUNT(*)', '18412'),
 ('COUNT ROWS IN POSTS TABLE', 'SELECT COUNT(*)', '42234')]

## Drop Duplicates

You likely have some duplicates. Lets drop them.

In [227]:
# Read the queries table into pandas
sql = 'SELECT * FROM queries'
queries = pd.read_sql(sql, con)

# Drop duplicates
queries.drop_duplicates(inplace = True) # drop duplicates

## Case Issues

Remember, SQL is case insensitive. Pandas IS case sensitive. Lets deal with this now by making all of the text uppercase.

In [228]:
for col in queries.columns:
    queries[col] = queries[col].str.upper()
    
queries

,task,action,query
0,SINGLE TABLE QUERIES,WHICH 5 USERS HAVE VIEWED THE MOST TIMES AND W...,"\nSELECT ID, SUM(VIEWS) AS TOTALVIEWS\n FRO..."
1,TASK 1,CREATE TABLE COMMENTS,"\n CREATE TABLE ""COMMENTS"" (\n ""ID"" INTE..."
2,TASK 1,CREATE TABLE POSTS,"\n CREATE TABLE ""POSTS"" (\n""ID"" INTEGER,\n""..."
3,TASK 1,CREATE TABLE USERS,"\n CREATE TABLE ""USERS"" (\n""ID"" INTEGER,\n""..."
4,COUNT ROWS IN COMMENTS TABLE,SELECT COUNT(*),50000
5,COUNT ROWS IN USERS TABLE,SELECT COUNT(*),18412
6,COUNT ROWS IN POSTS TABLE,SELECT COUNT(*),42234

In [229]:
# Write the now deduped uppercase dataframe back to sqlite and replace the table
queries.to_sql('queries', con, if_exists='replace', index=False)

7

## Use Case

Now that we have this queries table, lets give you some ideas about how you would use it.

Suppose you wanted to find all of the queries where you did a GROUP BY:

In [230]:
%%sql
SELECT query
    FROM queries
        WHERE query LIKE '%GROUP BY%'

 * sqlite:///chatdata.db
   sqlite:///your_database_url
Done.

[('\nSELECT ID, SUM(VIEWS) AS TOTALVIEWS\n    FROM USERS\n        GROUP BY ID\n            ORDER BY TOTALVIEWS DESC\n                LIMIT 5\n                ',)]

## Now Your Turn
Find the queries that have 'DISTINCT' in them. You can do it with the %sql command or with Pandas and sql.

<div style="background-color:lemonchiffon; border:1px solid; padding:5px; margin:5px; font-weight:bold"><font color="crimson">
TODO: Complete the following code cell
    </font></div>

In [235]:
%%sql
SELECT query
FROM queries
WHERE query LIKE '%DISTINCT%';

 * sqlite:///chatdata.db
   sqlite:///your_database_url
Done.

[]

# Close SQLite

It is good practise to close all relational databases as soon as you are finished updating them.

In [232]:
con.close()

# All Done!

Great job. You now have a good idea for how to use sql and pandas with sql. You can create your own databases from csv files and you can do extensive querying using sql. These are valuable skills that will take you a long ways in todays technological world.